<div class="container-fluid">
  <div class="row">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <p>Voting List</p>
        <p style="position: absolute;right: 20px;">
        <a class="pr-1"  routerLink="/login" routerLinkActive="active">LogIn</a>
        <a class="pr-1" routerLink="/register" routerLinkActive="active">Register</a>
        <a style="cursor: pointer" (click)="voteService.logOutUser()">Logout</a>
      </p>
      </mat-toolbar-row>
    </mat-toolbar>
    
    <router-outlet></router-outlet>


</div>
</div>